{% extends 'main/index.html' %}

{% block content %}

  <div class="container">
    {% block titre %}
    <h2 style="text-align: center;margin-top: 6%;margin-bottom: 4.5%;">CCM</h2>
    {% endblock  %}

    <div class="container">
        <form method="POST">
            {% csrf_token %}



            <div class="form-group">
              <label for="val_1" class="col-form-label">Conformité qualité d'eau : I.R < 4</label>
              <div class="col-sm-12">
                  <input type="text" name="value_1" class="form-control" id="val_1" required=true>
              </div>
            </div>
            <div class="form-group">
              <label for="val_2" class="col-form-label">Taux réalisation base COFI</label>
              <div class="col-sm-12">
                  <input type="text" name="value_2" class="form-control" id="val_2" required=true>
              </div>
            </div>
            <div class="form-group">
              <label for="val_3" class="col-form-label">Taux de réalisation rondes HF</label>
              <div class="col-sm-12">
                  <input type="text" name="value_3" class="form-control" id="val_3" required=true>
              </div>
            </div>
            <div class="form-group">
              <label for="val_4" class="col-form-label">Taux de fermeture de lignes CCM</label>
              <div class="col-sm-12">
                  <input type="text" name="value_4" class="form-control" id="val_4" required=true>
              </div>
            </div>
            <div class="form-group">
              <label for="val_5"  class="col-form-label">Percée tundish, infiltration cnc Tundish</label>
              <div class="col-sm-12">
                  <input type="text" name="value_5" class="form-control" id="val_5" required=true>
              </div>
            </div>
            <div class="form-group">
              <label for="val_6" class="col-form-label">Nbr Réclamation Clients</label>
              <div class="col-sm-12" >
                  <input type="text" name="value_6" class="form-control" id="val_6" required=true>
              </div>
            </div>            
            <div class="form-group">
              <label for="val_7" class="col-form-label">Taux Billettes Ferraillées 12 m</label>
              <div class="col-sm-12">
                  <input type="text" name="value_7" class="form-control" id="val_7" required=true>
              </div>
            </div>
            <div class="form-group">
              <label for="val_8" class="col-form-label">Poff secteur ( min / coulée )</label>
              <div class="col-sm-12">
                  <input type="text" name="value_8" class="form-control" id="val_8" required=true>
              </div>
            </div>
            <div class="form-group">
              <label for="val_9" class="col-form-label">Coût Réfractaire CCM Dh/Tbb</label>
              <div class="col-sm-12">
                  <input type="text" name="value_9" class="form-control" id="val_9" required=true>
              </div>
            </div>
            <div class="form-group">
              <label for="val_10" class="col-form-label">Consommation eau</label>
              <div class="col-sm-12">
                  <input type="text" name="value_10" class="form-control" id="val_10" required=true>
              </div>
            </div>
            <button  type="submit" name="save" class="btn btn-success col-12">Submit</button>     
          </form>
    </div>
  </div>

{% endblock %}