{% extends 'main/index.html' %}

{% block content %}

  <div class="container" style="margin-bottom: 4%;">
    {% block titre %}
    <h2 style="text-align: center;margin-top: 6%;margin-bottom:4.5%">FUSION</h2>
    {% endblock  %}

    {% if l == False %}
      <div class="alert alert-danger" role="alert">
        Vous ne pouvez pas ajouter les données!
        L'ajout sera possible le lundi.
      </div>
    {% endif %}

    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="val_1" class="col-form-label">Indicateur 1</label>
              <div class="col-sm-12">
                  <input type="text" name="value_1" class="form-control" id="val_1" required=true>
              </div>
            </div>
            <div class="form-group">
              <label for="val_2" class="col-form-label">Indicateur 2</label>
              <div class="col-sm-12">
                  <input type="text" name="value_2" class="form-control" id="val_2" required=true>
              </div>
            </div>
            <div class="form-group">
              <label for="val_3" class="col-form-label">Indicateur 3</label>
              <div class="col-sm-12">
                  <input type="text" name="value_3" class="form-control" id="val_3" required=true>
              </div>
            </div>
            <div class="form-group">
              <label for="val_4" class="col-form-label">Indicateur 4</label>
              <div class="col-sm-12">
                  <input type="text" name="value_4" class="form-control" id="val_4" required=true>
              </div>
            </div>
            <div class="form-group">
              <label for="val_5"  class="col-form-label">Indicateur 5</label>
              <div class="col-sm-12">
                  <input type="text" name="value_5" class="form-control" id="val_5" required=true>
              </div>
            </div>
            <div class="form-group">
              <label for="val_6" class="col-form-label">Indicateur 6</label>
              <div class="col-sm-12" >
                  <input type="text" name="value_6" class="form-control" id="val_6" required=true>
              </div>
            </div>            
            <div class="form-group">
              <label for="val_7" class="col-form-label">Indicateur 7</label>
              <div class="col-sm-12">
                  <input type="text" name="value_7" class="form-control" id="val_7" required=true>
              </div>
            </div>
            <div class="form-group">
              <label for="val_8" class="col-form-label">PIndicateur 8</label>
              <div class="col-sm-12">
                  <input type="text" name="value_8" class="form-control" id="val_8" required=true>
              </div>
            </div>
            <div class="form-group">
              <label for="val_9" class="col-form-label">Indicateur 9</label>
              <div class="col-sm-12">
                  <input type="text" name="value_9" class="form-control" id="val_9" required=true>
              </div>
            </div>
            <div class="form-group">
              <label for="val_10" class="col-form-label">Indicateur 10</label>
              <div class="col-sm-12">
                  <input type="text" name="value_10" class="form-control" id="val_10" required=true>
              </div>
            </div>
            <div class="form-group">
              <label for="val_11" class="col-form-label">Indicateur 11</label>
              <div class="col-sm-12">
                  <input type="text" name="value_11" class="form-control" id="val_11" required=true>
              </div>
            </div>
            <div class="form-group">
              <label for="val_12" class="col-form-label">Indicateur 12</label>
              <div class="col-sm-12">
                  <input type="text" name="value_12" class="form-control" id="val_12" required=true>
              </div>
            </div>
            <div class="form-group">
              <label for="val_13" class="col-form-label">Indicateur 13</label>
              <div class="col-sm-12">
                  <input type="text" name="value_13" class="form-control" id="val_13" required=true>
              </div>
            </div>
            {% if l == False %}
            <button  type="submit" name="save" class="btn btn-secondary col-12" disabled = true>valider</button>     
            {% endif %}
            {% if l == True %}
            <button  type="submit" name="save" class="btn btn-secondary col-12">valider</button>     
            {% endif %}
          </form>
    </div>
  </div>

{% endblock %}