{% extends 'main/index.html' %}

{% block content %}

  <div class="container">
    {% block titre %}
      <h2>Fusion</h2>
    {% endblock  %}

    <div class="container">
        <form method="POST">
            {% csrf_token %}
            {% block content_1 %}
              <div class="form-group row">
                  <label for="indicateur" class="col-sm-2 col-form-label">Indicateur</label>
                  <div class="col-sm-10">
                      <select id="indicateur" class="form-control form-control" name="indicateur" required=true>
                          <option value="Poff">Poff</option>
                          <option value="Retours aciérie">Retours aciérie</option>
                          <option value="Taux de réalisation base COFI">Taux de réalisation base COFI</option>
                          <option value="Taux de réalisation rondes HF">Taux de réalisation rondes HF</option>
                          <option value="Taux de casse électrodes">Taux de casse électrodes</option>
                          <option value="nombre coulées four">nombre coulées four</option>
                          <option value="Nombre coulées poche">Nombre coulées poche</option>
                          <option value="Percée four, percée poche">Percée four, percée poche</option>
                          <option value="Poff technique (min/coulé)">Poff technique (min/coulé)</option>
                          <option value="Tonnage horaire (t/h)">Tonnage horaire (t/h)</option>
                          <option value="Consommation ferro (kg/tbb)">Consommation ferro (kg/tbb)</option>
                          <option value="Consommation électrode (EAF + LF) kg/tbb">Consommation électrode (EAF + LF) kg/tbb</option>
                          <option value="30 KV (kwh/tbb)">30 KV (kwh/tbb)</option>
                      </select>
                  </div>
              </div>
            {% endblock %}
            
            <div class="form-group row">
                <label for="val" class="col-sm-2 col-form-label">Valeur</label>
                <div class="col-sm-10">
                    <input type="text" name="value" class="form-control" id="val" placeholder="..." required=true>
                </div>
            </div>
            <div class="form-group row">
                <label for="date" class="col-sm-2 col-form-label">Date</label>
                <div class="col-sm-10">
                  <input type="date" name="date" class="form-control" id="date" required=true>
                </div>
            </div>
            <button  type="submit" name="save" class="btn btn-success col-12">Submit</button>     
          </form>
    </div>
  </div>
  {% if ver == True %}
    <div class="container">
      {% autoescape off %}
          <h3>{{ titre }}</h3>
          <h4>Weekly graph :</h4>
          {{ plot_mondays_div }}
          <h4>Trimester's graph :</h4>
          {{ plot_trimester_div }}
          <h4>Year graph :</h4>
          {{ plot_year_div }}
      {% endautoescape %}
    </div>
  {% endif %}

{% endblock %}