{% extends "main/index.html" %}

{% block content %}

<h2 style="text-align: center;margin-top: 6%;margin-bottom: 4.5%;">CCN</h2>


{% autoescape off %}

<div style="margin: 3%;">
    <h4 style="margin: 2%;">{{ l.0 }}</h4>
    <div class="row">   
        <div class="col-md-4 col-sm-6"><p>Weekly :</p>{{ w.0 }}</div>
        <div class="col-md-4 col-sm-6"><p>Trimestrely :</p>{{ t.0 }}</div>
        <div class="col-md-4 col-sm-6"><p>Yearly :</p>{{ y.0 }}</div>
    </div> 

    <hr width="60%">

    <h4 style="margin: 2%;">{{ l.1 }}</h4>
    <div class="row">
        <div class="col-md-4 col-sm-6"><p>Weekly :</p>{{ w.1 }}</div>
        <div class="col-md-4 col-sm-6"><p>Trimestrely :</p>{{ t.1 }}</div>
        <div class="col-md-4 col-sm-6"><p>Yearly :</p>{{ y.1 }}</div>
    </div>

    <hr width="60%">

    <h4 style="margin: 2%;">{{ l.2 }}</h4>
    <div class="row">
        <div class="col-md-4 col-sm-6"><p>Weekly :</p>{{ w.2 }}</div>
        <div class="col-md-4 col-sm-6"><p>Trimestrely :</p>{{ t.2 }}</div>
        <div class="col-md-4 col-sm-6"><p>Yearly :</p>{{ y.2 }}</div>
    </div>

    <hr width="60%">            
    
    <h4 style="margin: 2%;">{{ l.3 }}</h4>
    <div class="row">
        <div class="col-md-4 col-sm-6"><p>Weekly :</p>{{ w.3 }}</div>
        <div class="col-md-4 col-sm-6"><p>Trimestrely :</p>{{ t.3 }}</div>
        <div class="col-md-4 col-sm-6"><p>Yearly :</p>{{ y.3 }}</div>
    </div>

    <hr width="60%">            
    
    <h4 style="margin: 2%;">{{ l.4 }}</h4>
    <div class="row">
        <div class="col-md-4 col-sm-6"><p>Weekly :</p>{{ w.4 }}</div>
        <div class="col-md-4 col-sm-6"><p>Trimestrely :</p>{{ t.4 }}</div>
        <div class="col-md-4 col-sm-6"><p>Yearly :</p>{{ y.4 }}</div>
    </div>

    <hr width="60%">

    <h4 style="margin: 2%;">{{ l.5 }}</h4>
    <div class="row">
        <div class="col-md-4 col-sm-6"><p>Weekly :</p>{{ w.5 }}</div>
        <div class="col-md-4 col-sm-6"><p>Trimestrely :</p>{{ t.5 }}</div>
        <div class="col-md-4 col-sm-6"><p>Yearly :</p>{{ y.5 }}</div>
    </div>

    <hr width="60%">

    <h4 style="margin: 2%;">{{ l.6 }}</h4>
    <div class="row">
        <div class="col-md-4 col-sm-6"><p>Weekly :</p>{{ w.6 }}</div>
        <div class="col-md-4 col-sm-6"><p>Trimestrely :</p>{{ t.6 }}</div>
        <div class="col-md-4 col-sm-6"><p>Yearly :</p>{{ y.6 }}</div>
    </div>

    <hr width="60%">

    <h4 style="margin: 2%;">{{ l.7 }}</h4>
    <div class="row">
        <div class="col-md-4 col-sm-6"><p>Weekly :</p>{{ w.7 }}</div>
        <div class="col-md-4 col-sm-6"><p>Trimestrely :</p>{{ t.7 }}</div>
        <div class="col-md-4 col-sm-6"><p>Yearly :</p>{{ y.7 }}</div>
    </div>

    <hr width="60%">

    <h4 style="margin: 2%;">{{ l.8 }}</h4>
    <div class="row">
        <div class="col-md-4 col-sm-6"><p>Weekly :</p>{{ w.8 }}</div>
        <div class="col-md-4 col-sm-6"><p>Trimestrely :</p>{{ t.8 }}</div>
        <div class="col-md-4 col-sm-6"><p>Yearly :</p>{{ y.8 }}</div>
    </div>

    <hr width="60%">

    <h4 style="margin: 2%;">{{ l.9 }}</h4>
    <div class="row">
        <div class="col-md-4 col-sm-6"><p>Weekly :</p>{{ w.9 }}</div>
        <div class="col-md-4 col-sm-6"><p>Trimestrely :</p>{{ t.9 }}</div>
        <div class="col-md-4 col-sm-6"><p>Yearly :</p>{{ y.9 }}</div>
    </div>

</div>
{% endautoescape %}

{% endblock %}